[2016-02-16 15:27] ryukinix opened #2 "[go-hell-stdin] Check repository's consistency and execution time measurement"
# Proposal

- [x] 1.Check if all the solutions process doesn't read nothing from stdin and print only the answer.
- [x] 2. Create a script for run all solutions and get the time of each.
- [x] 3. After all, we would compare the time solutions and rank by language or developer. Graphic representation can be cool.

# Hints/Ideas

1. Create a script for each language for executing and check if appear

[2016-02-16 22:37] ryukinix opened #3 "[travis] Correct setup of .travis.yml for build status, languages environment"
- [X] Python
- [x] Haskell
- [x] C
- [x] C++
- [x] Go
- [x] Elixir
- [x] Lua
- [x] Clojure
- [ ] Swift
- [x] PHP
- [ ] Objective-C
- [x] CommonLisp
- [x] Bash
- [x] Ruby

[2016-02-16 22:45] ryukinix opened #4 "[CommonLisp] Problem 027 doesn't work"
Some crazy statement on loop, I happy if somebody fixes. (the logic is probably right)

[2016-02-16 23:09] luizperes opened #5 "Proposal - 10 Next Problems"
For the 10 Next Problems, can we actually create a  new .md file named "Status.md" in order to get to know who is doing what?

Yesterday we were doing the Problem038 at the same time and I only realized after I pull it down from the server ... In that way, we could attack more solutions at the same time... That would be something like:

Problem041 [In Progress, @luizperes]
Problem042 [Done, @someo

[2016-02-16 23:22] ryukinix commented on #5
@luizperes Nice ideia, write a Status.md file and push for us!
We can use that snippet:

- [ ] Problem0XX
  - [ ] Python, @user
- [ ] Problem0XY

So if other user wants propose a solution in other lang at same time he'll got it.

[2016-02-16 23:43] luizperes commented on #5
I will do it :)

[2016-02-17 04:50] luizperes commented on #5
done.

[2016-02-17 04:50] #5 closed

[2016-02-17 05:26] ryukinix commented on #2
# Stdin go hell Check

- [ ] C
- [ ] C++
- [ ] Clojure
- [ ] CommonLisp
- [ ] Elixir
- [ ] Go
- [ ] Haskell
- [ ] Lua
- [ ] Objective-C
- [ ] PHP
- [ ] Python
- [ ] Swift

[2016-02-17 06:03] ryukinix opened #6 "[stats] ShaSum hash solutions for each problem at ProblemXYZ/.hash"
We need generate the hash acceptable answer for each problem done and save on Problem folder.
- [x] Problem001
- [x] Problem002
- [x] Problem003
- [x] Problem004
- [x] Problem005
- [x] Problem006
- [x] Problem007
- [x] Problem008
- [x] Problem009
- [x] Problem010
- [x] Problem011
- [x] Problem012
- [x] Problem013
- [x] Problem014
- [x] Problem015
- [x] Problem016
- [x] Problem017
- [x] Problem018

[2016-02-19 02:38] ryukinix commented on #2
@luizperes, since you write the Swift, Objective-C and PHP solutions, you can check if all them don't read from stdin and only print the correct answer? Thanks.

[2016-02-19 02:48] luizperes commented on #2
I know that they are not doing that, because I was the one who wrote them, but yeah :D, I can create a script for that ;)

[2016-02-19 02:53] ryukinix commented on #2
I just was need that your answer! Doesn't need write a script for that, I guess.

The `stats.py` build/execute system working fine for `Python` and `Go`, I will check later for other languages.

[2016-02-19 04:02] luizperes commented on #2
I will check that anyways and see if I can help with the others ones too

[2016-02-19 06:44] ryukinix opened #7 "C crazy float operation at Problem045, answer wrong, solution_1.c"
I don't know exactly what is wrong, but we have other 3 examples whose the answers are right: Go, Python and Swift.

[2016-02-19 06:47] luizperes commented on #7
@ryukinix ...The return type of your function should be double, not float...that number is f*** big :D Vide https://github.com/DestructHub/ProjectEuler/commit/2e3a25a7fb3e282d240060de29c570ab4a2c2d10

[2016-02-19 07:50] luizperes commented on #7
Fixed at the commit https://github.com/DestructHub/ProjectEuler/commit/6a2ca47a7ed9cd3d2355068e27f8e1ff3b5b51f5 ... I took most of libraries out for performance... :D

[2016-02-19 07:50] #7 closed

[2016-02-20 11:56] ryukinix commented on #2
@rafaelcn you can check the Lua's solution when you have time?

[2016-02-20 11:57] ryukinix commented on #2
I'll will check the `Haskell` solutions for now.

[2016-02-20 11:58] rafaelcn commented on #2
Is there any Lua solution over the repo? :open_mouth:

[2016-02-20 12:04] ryukinix commented on #2
Yes, some solutions! You can check the solutions using the utility of `stats.py -s lua -p`. But have some dependencies a little boring for guys whose doesn't commonly use python environment (pandas && numpy). See the output:

[code]

[2016-02-20 12:07] ryukinix commented on #2
I think all Lua's solutions were written by @G4BB3R, including Elixir too.

[2016-02-21 04:12] ryukinix commented on #2
Now you have that table
[code]
About CommonLisp, I'm writing a solution for P045.

[2016-02-21 08:38] #4 closed

[2016-02-22 03:44] ryukinix opened #8 "[P048] Overflows operation of type A^B. Langs: C, C++ and Go affected"
![captura de tela_2016-08-31_22-42-01](https://cloud.githubusercontent.com/assets/7642878/18152434/29cd98e2-6fcc-11e6-8f3b-4e8b6f86640c.png)

Overflow is the problem, very large number for large operation, need refactor `(A^B) mod C` operation.

[2016-03-10 08:57] ryukinix commented on #2
@tkovs, you can check if all the Haskell solutions print only the correct answer?

[2016-03-10 13:39] tkovs commented on #2
@ryukinix, yeah

[2016-03-10 18:28] ryukinix commented on #2
If I try `python stats.py -s haskell -b`, we got:
[code]
So probably the wrongs solutions about his is problem 013 and 014. We have problems with performance at solutions about  10 and 31 either, but this is an other problem to worry it later.

[2016-03-10 19:58] ryukinix opened #9 "Problems 004 and 006 wrote in Ruby doesn't execute"
$ python stats.py --search ruby --build
[code]

[2016-03-10 20:19] #9 closed

[2016-03-10 22:08] ryukinix opened #10 "[Problem016] BigInt operation at Lua solution gave to us the wrong answer"
Maybe we can factorize this the same way of the problem048 #8, operator `A ^ B mod C`. If we implement that, can be used here.

Doing this we can split the operation `2 ** 1000` like `2 ** 1000 mod 10 ** C` and `(2 ** 1000) / 10 ** C` , and sum the digits individually at each part, recursively using `divide and conquer`.

Whose C is the mean of length of the `2 ** 1000`, whose we can check mathema

[2016-03-10 22:09] ryukinix commented on #10
@G4BB3R old bug, man. HAHHA

[2016-03-11 00:11] tkovs opened #11 "[stats] show the correct answer next to answer of solution in stats.py table"
Suggestion:

[code]

[2016-03-11 01:10] ryukinix commented on #11
This really nice, @tkovs. To do that we need the correct answers of each question in local, unfortunately we don't have yet . I propose some similar at #6 to doing exactly that. The difference was I suppose to get a hash instead the answer, because store answer is very spoiler :laughing: for me.

Maybe we can create an crawler with beautifulsoup4 to get the answers (with a configured account) from

[2016-03-11 02:26] rafaelcn commented on #11
Yea, I also do think that a list with the answer will be a big **spoiler**.

[2016-03-11 02:36] ryukinix commented on #11
+2 points for hashes, so.

That job was divide by:

- [ ] Crawler the answers of each problem, generate a shasum hash and store at ProblemXYZ/.hash
- [ ] Mount the dataframe interface at stats.py to compare the result got by script and the stored hash

I can do easily the second, but the first if I have some help would be cool.

[2016-03-11 03:26] ryukinix commented on #2
@luizperes UFA! Now we need only setup at .travis.yml the correct steps to install the swift enviroment and get the cmdline to run the solutions.

[2016-03-11 05:35] luizperes commented on #2
:+1:  .. that is going to be a bit hard xD I will try to help you when I get some time.. :(

[2016-03-12 13:36] ryukinix opened #12 "Blame Board: the worst solutions"
I'll add the `--blame` option to stats.py print the solutions tagged as `_slow_`. Would be great  if we had the time of each one, but some solutions is reaaally bad, take almost hours to finish. After implemented that, I print the path of the solutions here.

[2016-03-12 14:30] ryukinix commented on #12
We can:

Print the path of blame solutions
[code]

Print the languages whose have blame solutions
[code]
Print the count of blame solutions per language
[code]

You can try yet build, I add support for that, but is really slow. Because all are blame solutions.

Try:

* `python stats.py --build --all --blame`
* `python stats.py --build --search blame_language --blame`

Ps.: "Blame Solution" is a co

[2016-03-12 14:35] ryukinix commented on #12
@rafaelcn, your button.

[2016-03-12 20:07] ryukinix opened #13 "[travis] C building: weird behavior at travis server, -lm not found"
[code]

[2016-03-13 03:40] rafaelcn commented on #12
Oh yea indeed!

[2016-03-13 09:12] #12 closed

[2016-03-13 10:51] ryukinix commented on #3
Issue related at #13

[2016-03-13 11:10] ryukinix opened #14 "[travis][P006] Clojure solution doesn't execute at travis server, curious"
The [log](https://travis-ci.org/DestructHub/ProjectEuler/builds/115651242) show us that:

[code]

Hmm, I'm curious with that because in my machine execute fines that solution at Clojure 1.8.

[2016-03-13 11:16] ryukinix opened #15 "[travis] correct setup of elixir environment at .travis.yml"
The actual setup doesn't works, elixir not found. The machine of travis
apparently runs ubuntu.

[2016-03-13 11:17] ryukinix commented on #3
Issue related at #15 too

[2016-03-13 11:19] ryukinix commented on #3
Objective-C returns weird compilation error at P001 solution:
[code]

[2016-03-13 11:22] ryukinix commented on #6
Maybe is better only `.hash` instead `.solution_hash`

[2016-03-13 11:26] ryukinix opened #16 "[travis] correct setup of swift enviroment at .travis.yml"
We need the correct setup of Swift environment to build and check the solutions.

[2016-03-13 15:34] ryukinix commented on #15
Fixed at new attempt!

[2016-03-13 15:34] #15 closed

[2016-03-13 20:02] luizperes commented on #3
It's missing the Foundation flag on the cmdline

[2016-03-13 20:09] luizperes commented on #3
Try to change the command line to:

[code]

It should work..

[2016-03-13 20:19] ryukinix commented on #3
HMMM! I'll try this. Thanks @luizperes !

[2016-09-01 01:36] rafaelcn commented on #13
Tha's on the server, the `-lm` links the code with the math library.

[2016-09-01 01:38] ryukinix commented on #13
Look here: [stats.py](https://github.com/DestructHub/ProjectEuler/blob/master/stats.py#L134)

[2016-09-01 01:38] rafaelcn commented on #8
Could you please add a description on how to reproduce the bug? I'd be glad, and also would help hahaha. :boom:

`-- on the wired --`

[2016-09-01 01:39] ryukinix commented on #8
Just execute the solution. The problem is the overflow. Simple.

[2016-09-01 01:40] rafaelcn commented on #13
Too superficial don't you think? I should add `-Wall -Werr -std=c++0x` as well. Anyway, is this bug fixed?

[2016-09-01 01:41] rafaelcn commented on #8
On what problems should I execute the solution? This might be a "type error", where the programmer is using the wrong type for the task.

[2016-09-01 01:45] ryukinix commented on #8
But this is not the question. The question is a better way to do the math operation `(A^B) mod C`.

[2016-09-01 01:48] ryukinix commented on #8
What type we can use in C, at example, to do `1000^1000`? Is a number with 1003 zeros. 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

[2016-09-01 01:50] ryukinix commented on #13
No. In the server don't work, in local machine works. I need install this shit on server too?

[2016-09-01 01:52] ryukinix commented on #13
I don't want useless warnings messages on building because `C++` is oriented with this. That type of thing will release garbage on my beautiful log even in good solutions in CPlusPlus. And this is not the problem, after all.

By other hand, in cases of errors, `-Werr` can be useful?

[2016-09-01 01:56] ryukinix commented on #13
![c](https://cloud.githubusercontent.com/assets/7642878/18152688/204e8e5a-6fce-11e6-8512-8d56ab7f994f.jpg)

[2016-09-01 02:10] rafaelcn commented on #13
No, C++ warnings are super useful, and it isn't oriented to warnings, your argument does count to any language actually, putting it aside, I agree with you that this would pollute the logs and should be verified with the Makefile instead. And no, `-Werr` will just transform any warning into an error, which in some cases it might not be a good thing.

Concerning about the math library I think it sh

[2016-09-01 02:23] ryukinix commented on #13
I don't care. I just wanna fix that problem to enable building C++ again, whose is disabled.

[2016-09-01 02:56] rafaelcn commented on #13
Oh boy, your Makefile is wrong, it actually doesn't work over here with this instruction:

[code]

That would be translated to:

`gcc -lm -Wall -o solution_1.c solution_1.out`

This is wrong, to link libraries you have to put the `-l` flag on the end of the instruction. The commit fix was sent.

[2016-09-01 03:04] ryukinix commented on #13
@rafaelcn On my machine works, BTW. I think the problem is your existance.

[2016-09-01 03:08] rafaelcn commented on #13
It probably works because it isn't linking to `libm.so`. Dunno though, here it doesn't work, and also on the travis server, the problem is probably there.

[2016-09-01 03:09] rafaelcn commented on #13
Anyway, blame one another is not going to work

[2016-09-01 12:26] ryukinix commented on #13
What happens in your machine?

[2016-09-01 12:29] rafaelcn commented on #13
[code]

[2016-09-01 12:36] ryukinix commented on #13
NICE!

[2016-09-01 12:38] rafaelcn commented on #13
It seems that this behavior only appears with gcc, g++ does the job of linking right wherever you place the `-l` flag, but this (Problem048) code isn't valid c++ code.

[2016-09-01 12:40] ryukinix commented on #13
@rafaelcn The code has problems. You wanna put more problems like recodifieing the C solution to a bad language as C++. I don't understand, really on my machine works. I think the problems is other thing. Maybe a gcc-multlib or other shit like that,

[2016-09-01 12:42] rafaelcn commented on #13
No, I don't, I just said it isn't a valid C++ code. Regarding the problem, we will see if this solves the problem.

[2016-09-01 12:43] ryukinix commented on #13
Great.
![kixqm2](https://cloud.githubusercontent.com/assets/7642878/18167720/7d86ba48-7028-11e6-8b19-64540913653c.jpg)

[2016-09-01 12:46] ryukinix commented on #13
![kixqm2](https://cloud.githubusercontent.com/assets/7642878/18167783/e0a9d7c2-7028-11e6-843a-abcbacd56056.jpg)

Yes, in my machine works.

[2016-09-02 11:43] ryukinix commented on #2
This was be done. Just add new compilers and build later.

[2016-09-02 11:43] #2 closed

[2016-09-02 11:43] ryukinix commented on #3
This actually don't works. Maybe I need install some libs on Linux?

[2016-09-05 04:50] rafaelcn commented on #13
This only affects C. Changing the title of the issue.

[2016-09-05 04:52] ryukinix commented on #13
@rafaelcn Ok

[2016-09-06 06:00] ryukinix commented on #6
We are writing a bash script to handle this, see here: [add](https://codeshare.io/add-solution)

[2016-09-06 06:12] lubien commented on #6
Lgtm

[2016-09-06 11:49] lubien commented on #6
Added few hashes. See #47

[2016-09-06 19:07] tkovs opened #53 "Enhancement to the P005 Elixir solution"
Change the [range](https://github.com/DestructHub/ProjectEuler/blob/135a1ecf2c22635565bdf568d8abf5bef4f7087a/Problem005/Elixir/solution_slow_1.exs#L3) to `20,40...infinity` using lazy evaluation, it is better. I don't know how to do a range with steps in Elixir, so I just opened this issue.

[2016-09-06 21:30] ryukinix commented on #11
We return to this problem again. Was added the script `add` for help add the `.hash` file with the answer. Check in the root of repository. Now we need more people adding the hashes for check the answer on tests.

[2016-09-06 21:39] ryukinix opened #55 "[travis] Put all the language and compiler dependencies on a docker image"
With this we reduce the time on build tests and we can use packages more updated. Remember that: travis use ubuntu 12.04 LTS. Very very legacy.

Maybe after that we can fix #13

[code]

[2016-09-06 21:44] ryukinix opened #56 "[stats] selected build: test only the files on diff between master"
Filter files with: `git diff master --name-only`

Send to stdin of `stats.py` and process the intersection of `python stats.py --path --all` (all solutions) and the diff. That way we will get just the path of solutions files.

[2016-09-06 23:09] leorog commented on #53
Yeah, we could use ```Stream.unfold``` to generate our range. I will try something... BTW nice insight!

[2016-09-06 23:11] leorog commented on #53
something like ```Stream.unfold(init_value, fn (x) -> {x, x + increase_rate} end)``` and then ```Enum.map_reduce``` it

[2016-09-06 23:45] lubien commented on #53
`Stream.iterate(init_value, &(&1 + 1))` and `Stream.drop_while(not_divisible_by_all) |> Enum.take(1)`

[2016-09-07 19:33] lubien commented on #6
Added 12. See: #60

[2016-09-07 22:04] ryukinix opened #61 "[stats] make stats.py build concurrent using asyncio"
Would be better if stats.py execute solutions concurrently instead sequentially. This would reduce the time of tests on travis, which for now is almost ten minutes!!!

[2016-09-09 05:41] ryukinix commented on #6
Added more hashes on #65

[2016-09-09 05:42] ryukinix commented on #6
Please, someone of @luizperes @tkovs or @lubien, even @leorog, can add the another hashes using the [add](add) script?

[2017-02-04 15:51] ryukinix commented on #53
Since we have alternative solutions in Elixir for this problem, I'll close this.

[2017-02-04 15:51] #53 closed

[2017-02-04 16:00] ryukinix commented on #3
After fix C, I'll close this issue. I'm dropping Swift & Objective-C support until someone setup this.

[2017-02-04 22:50] ryukinix commented on #3
WHY THIS FUCKING TRAVIS DON'T ALLOW ME TO COMPILE CODE WRITTEN IN C.
![LAIN-ANGRY](http://blog.brycecampbell.me/user/files/lain_angry.jpg)

[2017-02-05 00:18] ryukinix commented on #6
After merged the #98 this is finished.

[2017-02-05 00:32] ryukinix commented on #6
FINALLY FINISHED.

[2017-02-05 00:32] #6 closed

[2017-03-16 16:11] ryukinix commented on #56
This don't will work. If someone push a branch with more than one commit we cannot know if the other commits beyond the head need to be include on the tests.

WE WILL NOT IMPLEMENT THIS.

[2017-03-16 16:11] #56 closed

[2017-03-16 16:14] ryukinix commented on #11
Seems we finished that. After merges the #101 I'll will close this issue.

[2017-03-16 16:26] ryukinix commented on #11
Implemented. Check it later @tkovs and @rafaelcn on the [Travis log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/211806350/log.txt).

[code]

[2017-03-16 16:26] ryukinix commented on #11
~ Closing

[2017-03-16 16:26] #11 closed

[2017-03-17 04:46] tkovs commented on #11
wp

[2017-09-01 17:16] #8 closed

[2017-10-04 19:47] rafaelcn opened #114 "[travis] Build error because of Elixir script"
The Elixir `solution_1` in `Problem001` seems to be wrong and the scripts return with a build error, hence the build error status. The error can be seen below and maybe @lubien could give us a hint in how to solve it:

[code]

[2017-10-04 23:30] ryukinix commented on #114
Weird. Where this error happens? Travis server or in your build machine?

[2017-10-04 23:59] ryukinix commented on #114
This is indeed a job for @lubien or @kress95

[2017-10-04 23:59] ryukinix commented on #114
Elixir monkeys

[2017-10-05 02:41] rafaelcn commented on #114
Assigned them to the task! :-)

[2017-10-05 02:42] ryukinix commented on #114
I doubt anyone of them will fix that shit (too busy, one of them with working and the other with [audiovisual entertainment](https://myanimelist.net/anime/185/Initial_D_First_Stage))

[2017-10-05 02:45] lubien commented on #114
Did you try restart the build?

[2017-10-05 02:46] rafaelcn commented on #114
Just restarted. Lets see where it will stop.

[2017-10-05 02:47] lubien commented on #114
I god I forgot how the build was slow. Cache when?

[2017-10-05 02:50] rafaelcn commented on #114
I think there's no way to cache the tools needed for the project. Each build is ran in a new boxed environment each time.

[2017-10-05 02:51] lubien commented on #114
What about making a Docker image?

[2017-10-05 02:52] rafaelcn commented on #114
I didn't think of that, is it possible to make a docker image to run in Travis?

[2017-10-05 02:52] lubien commented on #114
Also, Travis CI does have cache. I've used mostly to cache dependencies

[2017-10-05 02:52] lubien commented on #114
@rafaelcn totally. I've done it before

[2017-10-05 02:53] rafaelcn commented on #114
There you go! You could make some changes in the `travis.yml` then 👍

[2017-10-05 02:54] lubien commented on #114
As soon as possible

[2017-10-05 03:00] ryukinix commented on #114
Caching dependencies will fix the desired behavior to use docker on issue #55

[2017-10-05 03:00] lubien commented on #114
Seems like the build went just fine @rafaelcn

Maybe some BEAM issue? The nine nines (99.9999999% reliability) gives us that 0.0000001% of failing too. Jk

[2017-10-05 03:02] lubien commented on #55
For better performance shouldn't it be best to push DestructHub's built image to Docker Hub?

Maybe you should create an account for us there.

[2017-10-05 03:06] rafaelcn commented on #114
That should be it @lubien. Just verified it. Lets close it move on to the #55.

[2017-10-05 03:06] #114 closed

[2017-10-05 03:12] ryukinix commented on #55
Would be nice.

[2017-10-08 04:47] ryukinix commented on #55
Implemented on #115

We need just create an account for destructhub to close this issue.

[2017-10-08 04:51] ryukinix commented on #3
Bash is not working now after #115. We need install `gawk` on docker image to work.

[2017-10-08 04:53] ryukinix opened #116 "[docker] Setup locale to utf-8"
We need that the image use locale utf-8 to avoid annoying warnings on Elixir builds and further problems.

[code]

[2017-10-08 21:22] ryukinix commented on #116
Maybe, just maybe, this maybe fix the problem with Exception about encoding of ` stats.py` too.

[2017-10-09 03:33] #116 closed

[2017-10-09 03:34] #55 closed

[2017-10-09 03:35] ryukinix commented on #14
Clojure is executing ok on the new build using docker. Closing this. Look at #117

[2017-10-09 03:35] #14 closed

[2017-10-09 03:43] ryukinix commented on #3
Bash was fixed on #117

[2017-10-09 03:45] rafaelcn commented on #3
We have to assign those two languages support to @luizperes :v

[2017-10-09 03:51] ryukinix commented on #3
Yes, I'll close this issue and create a separated issue about that only for him. He deserve this.

[2017-10-09 03:52] rafaelcn commented on #16
Tick those boxes when you finish @luizperes

[] Swift
[] Objective-C

[2017-10-09 03:53] ryukinix commented on #3
After #120 be merged I'll close this issue, as described earlier.

[2017-10-09 03:54] rafaelcn commented on #3
No problem :-)

[2017-10-09 03:56] ryukinix opened #121 "[travis] setup swift and obj-c environment on Dockerfile"
We should able to compile and execute code written in Swift or Obj-c on a Ubuntu 14.04 machine (Dockerfile image). The scripts defined on `stats.py` should pass.

To be implemented (env):
- [ ] swift
- [ ] obj-c

How to test:
`docker-compose run runner python3 stats.py -s swift -s obj-c --build`

And this is all.

[2017-10-09 03:57] ryukinix commented on #3
Was a hell job until here. This issue deserves to be closed. Almost two years opened... oh god.

[2017-10-09 03:58] ryukinix commented on #3
This issue should be continued here: #121

[2017-10-09 04:00] ryukinix commented on #16
Holy fuck, we already have a old issue here. I didn't saw that. Please, move to the new issue #121 created for that (more descriptive).

[2017-10-09 04:00] #16 closed

[2017-10-09 04:02] ryukinix commented on #61
Since @lubien are implemented a async version with Elixir, I'll drop this feature because will be pretty useless. `stats.py` can be still usefull sometimes as graph generation, synchronous build (if holy fuck someone want that on any moment), list path of the solutions or count the solutions per language.

On any other case, please, use the concurrent version written in Elixir. (this should be add

[2017-10-09 04:11] #13 closed

[2017-10-09 04:13] #3 closed

[2017-10-09 07:21] ryukinix commented on #61
Closing this because #124 was merged.

[2017-10-09 07:21] #61 closed

[2017-10-14 20:13] ryukinix opened #128 "Script `add` was wrongly designed and put unnecessary newline on each answer before hash it"
All the hash files of this repository are wrong, but they are equally wrong: each hash was calculated with a newline appended on the answer. Sorry for this.

Main points of this issue:
1. [add#13]
2. [stats.py#316]

To fix that we need:
- [x] Use (printf $answer | md5sum) on `add`
- [x] Regenerate the hashs without a newline on the answer.

I think we can modify a little the `stats.py` to generate

[2017-10-14 20:14] ryukinix commented on #128
More detailed discussion was made previously on #127

[2017-10-16 23:33] #128 closed

[2017-11-02 13:19] A-Hilaly opened #135 "[Suggestion] Different travis builds method at each PR"
Hey !

Since pull requesting any changes make` stats.py `/ `stats.exs` run all the solutions for all the languages. I suggest to make these build independent from "already builded solutions" and only build new suggested solutions. Also make running all the solutions a possible option (when stats.py is modified for example).

My idea is to try to use destruct.github.io as a data source for ProjectE

[2017-11-02 20:26] ryukinix commented on #135
First, thanks to bringing this subject to here. This is really a old thing which I really want improve.

Yes, we already thought about a different (and better) approach to build the tests and I agreed that the current is not good enough. But the idea in these days that I proposed was about handling the diff commits on the master branch and the PR branch and getting a list of files changed, just on

[2017-11-02 20:28] ryukinix commented on #135
One thing that I forgot, I liked the idea of a static website being good for visitors, ok? What I don't like is to rely that for the tests.

[2017-11-02 21:46] lubien commented on #135
1. About test a single solution

As @ryukinix pointed, we've been thinking about this for a while. Either locally and/or on the CI this could be useful a lot.

2. About the CI testing only modified solutions

There's no arguing here, this is for the best. Working with some git diff and travis maybe we can get this working out someway. Requires some testing from our part.

3. About the site.

I'm r

[2017-11-03 00:52] A-Hilaly commented on #135
@ryukinix I understand that's a bit complicated to implement all this and make a hole project build depend on a web site content. It was just my way to avoid using git manipulations and I was wondering how do i tell stats.py that this last builded problem is "validated" and you don't have to build it next time (validation is done when someone confirm that someone solution is correct, not only buil

[2017-11-03 00:56] A-Hilaly commented on #135
@ryukinix @lubien I agree with the idea that git differentials and codecov are the best choice here, I just say when trying to make different builds on travis without opening a new PR this could be useful !

[2017-11-03 01:45] ryukinix commented on #135
I think are you really right about changing this behavior (building whole project on each PR is cumbersome). We'll hold that a little to discuss more, but I still really prefer the git differential approach.

To validate the solutions the hashs is not enough? Well... an user can add too a wrong hash and this is hard to catch.

[2017-11-03 02:05] lubien commented on #135
@A-Hilaly indeed it would require some work. Not only building a microservice but hosting it too.

For a GitHub repo that relies on CI from Travis I think using a microservice is overkilling it so unfortunately I'm going to disagree to your proposal.

I'd go for @ryukinix method of diffing code and testing modified/added solutions. Of course it has drawbacks like we are supposing all previous test

[2017-11-03 02:05] lubien commented on #135
I vote to close this issue and start a new one on the subject of diff-based CI builds.

[2017-11-03 13:44] A-Hilaly commented on #135
Exactly. That's the "validation" thats worries me the most.

It is true that it can be dangerous to dare building only recent uploads/modifications. On the other hand, I totally agree that git differentials are necessary anyways to catch what was modified or added (even in my suggestion), the hosted service was more like to solve what @ryukinix said about wrong solutions (hashes).
I think we all a

[2017-11-04 03:30] ryukinix opened #136 "Differential builds for each PR on travis"
The approach ideal is using the git differential like [codecov](http://codecov.io/) does. We need to figure out how we can make this happens yet. That changes should reflect and we need changing the `stats.py` and `stats.exs` to receive the files to test optionally (or from `stdin` to the solution can be piped).

The discussion about that was made here #135

# Roadmap

- [x] script for given the r

[2017-11-04 03:38] lubien commented on #136
I'm pretty sure we can do something like `git diff master other_branch --name-only` to get which files changed.

Travis does provide the current branch name and also has an env that says that it's currently building an PR so the diff is a way to go.

You would just have to get filenames of solutions from that command and test them.

[2017-11-04 04:31] ryukinix commented on #136
Nice. So we're close to do that. Since this is so simple, we can just add that command on the .travis.yml file. But you think you can think that can be useful add a additional script to test local committed changes? Maybe testing `staged` changes would be nice. Like calling `./test staged` and run tests only for the solutions added or changed.

[2017-11-04 04:32] ryukinix commented on #136
Getting staged diff changes is not that hard too, for the simple case is just `git diff --cached`

[2017-11-04 16:51] A-Hilaly commented on #136
`git diff master other_branch --name-only ` is pretty good here. but how do we get other_branch name ? maybe we just compare last commit id and last commit in master ?

[2017-11-04 20:46] ryukinix commented on #136
We have all the variables need to do that task correctly on different situations based on the environment variables that travis provide for us, as @lubien pointed earlier.

https://docs.travis-ci.com/user/environment-variables/

```git diff $TRAVIS_BRANCH $TRAVIS_PULL_REQUEST_BRANCH --name-only```

Yes, sending the correct files from stats.py/exs by the git command above.

Of course we can do. Thi

[2017-11-04 21:08] lubien commented on #136
@ryukinix agreed.

[2017-11-04 22:09] A-Hilaly commented on #136
Thank you for clearing up the details, I understand much better now !

Its true that we will need to implement it in two different languages and its better make a ./test file.

What I mean by type of tests is that two types of modification are possible : adds/modification of solutions or modification or stats.py/stats.exs which would require to run all solutions

+1

[2017-11-09 16:56] A-Hilaly commented on #136
I am sorry for disappearing, it was a rough week 😩 I want to work in this issue but I want to make sure that nobody has already started working on it !

[2017-11-09 22:46] ryukinix commented on #136
Yes, you can work freely on that job. No-ones for know is working with it, personal issues for everyone (University exams mainly).

Thanks for support and contribution on DestructHub. Please open the PR as wish.

[2017-11-13 18:12] ryukinix commented on #136
We have a lot of work on #137 by @A-Hilaly almost done. The only thing will be missing is the implementation of `stats.exs` of `--files` flag to receive a list of filepaths to process.

[2017-11-13 22:26] ryukinix opened #138 "Sending result of build system output of travis to currently PR as comment"
This should simplify a lot of things to analysis PRs of new comers about efficiency and correctness, as described briefly on the end of this PR #137

[2017-11-13 22:28] ryukinix commented on #136
I'm closing this issue since I talk to @lubien and we have not priority to implement a `stats.exs` version of the differential build, because on travis we need a stable build time to ensure the time is correct. However, currently the `stats.py` doesn't exits when a solution with time bigger than 1min. So we need fix that later to fail the tests for solutions that takes more than 1min as `stats.exs

[2017-11-13 22:28] #136 closed

[2017-11-13 23:21] ryukinix opened #140 "Differential build PR bugs"
Need to fix:

- [ ] `python3 stats.py --build --files test` build all solutions and shouldn't.
- [ ] `push` travis events fails on build as [this](https://travis-ci.org/DestructHub/ProjectEuler/builds/301674042?utm_source=github_status&utm_medium=notification)

Related to #137  #139  #136

[2017-11-14 07:37] A-Hilaly commented on #140
I I said in #139 `python3 stats.py --build --files test` is just an undiscussed case in stats.py. I believed that changing one of the core files would require a build for all the problems. Anyways ill open a PR changing/controlling this

[2017-11-14 07:38] A-Hilaly commented on #140
for `push` travis events fails, we need to add more verbose on the ./test to see whats happening

[2017-11-14 08:10] ryukinix commented on #140
Hmm, I forgot about that. You think this can be useful sometime? I mean, this makes some sense... but I'm unsure about that, because build all because `test` was changed seems be overkill. But sometimes can be useful too. I just don't was waiting for that.

We can fix that easily skipping build for `push`... but If we can find something better, probably no. I'm insecure about that, but skipping is

[2017-11-14 22:36] A-Hilaly commented on #140
Depends on what useful means I believe we would use that too much (only if we want to generate new graphs. What about controllable build : travis ci build all solutions only if a environment variable exists and stats.py has been changed ?

when `build_solutions()` in `stats.py` set _`problems=only` there is not check for files existing or not all what build_solutions get is a list of files that ha

[2017-11-14 22:49] A-Hilaly commented on #140
for #139 , to get lights on what should be done to complete the fixes ( Ill try to do it soon since it can affect any PR from new contributors ) :
- Recognizing added from removed files
- Build all only if stats.py has been changed ( for the moments its all the files at the main directory ) , and maybe an env var ?
- Rewrite clearer functions for `--build --files `

@ryukinix Am I missing somethin

[2017-11-14 23:00] ryukinix commented on #140
You can hardcoded the filename getting by `sys.argv[0]`. For me, setting :travis env is pretty useless for that.

Our problem is: seems that `push` doesn't have the `origin/master`, once we can find a workaround for that, we can fix that tests.

I'm ok with it, but I don't think that adding a env var can help. But we can implement that since would be easy disable this if we'll want later. Rewrite

[2017-11-14 23:34] A-Hilaly commented on #140
what I mean is sometimes you can just add comments or do modification on `stats.py `that wouldn't require rebuilding everything. something like `_IGNORE_FILES="stats.py stats.exs"`. what about a special string in commit/pr title like **[ignore stats.py] title**. anyways this can be done without all this vars or special title, for the moment ill try to fix the push event first.

from travis docs: h

[2017-11-15 00:28] ryukinix commented on #140
I understand that, but this will need to modify .travis.yml to add new env variables, no? I mean... this is not a practical thing to do. Changing a lot .travis.yml is not a good practice, since we'll have a lot of useless commits on our git history and I like to to write meaningful, atomic commits, I only squash when we don't have another option.

Of course, let we see how this works.

[2017-11-15 08:12] A-Hilaly commented on #140
Not really there is an little menu at each project settings ( at travis ). In general I used to use this to dd critical variables ( passwords, token keys etc )

<img width="1107" alt="travisenv" src="https://user-images.githubusercontent.com/10897901/32825310-d00c8ad8-c9e4-11e7-9849-584d64d98cf1.png">

@ryukinix I will open a PR trying to solve travis-ci/push build

[2017-11-15 17:13] A-Hilaly commented on #140
Should I open PR using `git checkout x && git push -u origin x ?` like you said in #139 ? or just open it via GitHub or GitHub app @ryukinix

[2017-11-15 18:09] ryukinix commented on #140
For testing `push` events that would be what I would do, I think is
more easy. You can easily check. Since you already are member of
DestructHub, probably will have write permissions to push a new branch
on this repo. If you prefer creating a branch on your own fork this is
ok too.

Let's test that.
--
As lembranças não são só do passado. Podem ser de agora e até de
amanhã.
— Serial Experiments La

[2017-11-16 01:40] ryukinix commented on #140
Since we get into #143 all this shit is finished.

[2017-11-16 01:43] #140 closed

[2017-11-16 02:04] ryukinix opened #144 "Discussion: Push master events"
@lubien and I was thinking about testing all the solutions when the push event is on master (only on master). This will ensure that after a merge all the solutions is working as expected. This is not a big problem on delay because no one cares about push events on master, since only occurs after a PR is merged.

Why do you think about it?

[2017-11-16 09:45] A-Hilaly commented on #144
Running all builds after a PR is merged seems nice. OK for me

[2017-11-16 10:21] #144 closed

[2017-11-16 23:03] A-Hilaly opened #150 "Fail builds when solutions are uncorrect or timeout"
We can implement this in `stats.py` to make travis-ci build status clearer

[2017-11-16 23:42] ryukinix commented on #150
This is partially implemented on [stats.exs](stats.exs): if some solution takes more than one minute to terminates, the build system will complains that the one-minute rule is broken.

Making this feature happens on stats.py is importante because we use `stats.exs` to test the master push events, in contrast of PR tests using stats.py

[2017-11-17 08:11] ryukinix opened #154 "Cache docker images to speed up more travis build"
Our bottle-neck for now on time-issues is that always on PR we need to download sometimes unnecessary a new docker image, even if no updates was found on dockerhub. On these days, our PR build takes about 2 minutes to finish. Probably we can reduce to 1 minute if we cache docker images.

Similar approach: https://stackoverflow.com/questions/35305492/cache-docker-images-on-travis-ci

[2017-11-17 08:37] ryukinix opened #155 "Fix Elixir Warnings"
[code]

[2017-11-17 08:38] ryukinix commented on #155
How to replicate: `docker-compose run sync python3 stats.py -b --elixir`

[2017-11-17 08:39] ryukinix opened #156 "Fix SBCL Warnings on Docker container"
On all solutions:

[code]

How to replicate:  `docker-compose run sync python3 stats.py -b --commonlisp`

[2017-11-17 08:42] ryukinix opened #157 "Fix wrong solutions :: False or Empty"
[code]

[2017-11-17 08:51] ryukinix opened #158 "Allows stats.py receive --files as directory to build"
`python stats.py --build --files Problem001/`

Should build all the solutions of the `Problem001`. For now this is misleading

* `python stats.py --build --files Problem001` doesn't build anything
* `python stats.py --build --files Problem001/` build all solutions (?).

[2017-11-17 08:52] ryukinix commented on #158
This can be useful to generate graphical insights about time analysis of each solution for a set of problems.

[2017-11-17 12:04] A-Hilaly commented on #150
We can use something like `timeout-decorator` or just use `alarm` built in lib to control build time.

[2017-11-17 12:06] A-Hilaly commented on #156
Can you show me travis-ci PR that resulted this logs ?

[2017-11-17 12:06] A-Hilaly commented on #154
@ryukinix Would be awesome !

[2017-11-17 12:44] A-Hilaly commented on #158
python stats.py --build --files Problem001/ build all solutions (?).

I think this is good feature to add. We just avoid the maximum LEGO-ing the code.

[2017-11-17 13:29] ryukinix commented on #156
Sorry, I executed on my machine with the command attached on description.

[2017-11-28 11:20] A-Hilaly commented on #150
@ryukinix I tried to use `alarm` to limit run time per solution execution. Actually I have this weird error (after command finish):
`Exception ignored in: <_io.TextIOWrapper name='<stdout>' mode='w' encoding='UTF-8'>
BrokenPipeError: [Errno 32] Broken pipe`
What I might be missing about `spin_thread` ?
You can see my modifications  [here](https://github.com/A-Hilaly/ProjectEuler/tree/updates)

[2017-11-28 14:29] ryukinix commented on #150
I need to test to debug it... but unfortunately I don't have time now :/

I'll be available after 15 of December, but maybe you'll fix that until that day.

I saw this type errors on a few type of environments:

+ Multithreading
+ Popen
+ Shell pipelines operations with Python

Maybe you should remove some of your modifications carefully, step by step, to find the exactly point where this Exceptio

[2017-11-28 23:02] A-Hilaly commented on #150
All fine ! Thanks for lighting up ! I will try to figure this out ASAP and prepare clean updates 👍

[2017-12-18 06:02] #158 closed

[2017-12-18 06:02] #150 closed

[2018-05-04 20:12] ryukinix opened #161 "stats.py it's broken after partial build integration: handle_files has bugs"
After the PR #160 we can check this following error at this [log](https://travis-ci.org/DestructHub/ProjectEuler/builds/360092946?utm_source=github_status&utm_medium=notification):

[code]

This bug is related to the function handle_files and this it's definition:

https://github.com/DestructHub/ProjectEuler/blob/e6754604db9768dae7fbec50ff8f8aa017287403/stats.py#L497-L516

[2018-05-05 11:00] A-Hilaly commented on #161
I checked this this morning, apparently `handle_files` doesn't take care of the case `README.md` and `.hash`. 😱
I will open a PR fixing this soon.

[2018-05-05 18:49] ryukinix commented on #161
Thanks, @A-Hilaly. Closing this issue.

[2018-05-05 18:49] #161 closed

[2018-05-27 16:03] ryukinix opened #176 "Add support for Scheme on build system"
- [x] Dockerfile
- [x] stats.py
- [x] stats.ex

We should use Racket or guile to build?

[2018-06-04 23:50] ryukinix opened #179 "Fix stats.py: solutions for compiled languages when load files it fails"
There is some attempt to do this at fix/file-load branch.

[2018-06-04 23:50] rafaelcn commented on #179
WHAT ARE YA DOING

[2018-06-05 00:51] ryukinix commented on #179
Trying fix problems when someone need to use the filesystem in solutions, like loading a particular .txt file and so on.

This doesn't works for C or C++. The problem is the class `Build` at https://github.com/DestructHub/ProjectEuler/blob/master/stats.py#L112. I pass changed_directory=False in pass just as Hack because passing as True breaks everything.

There is some of this on this branch as I

[2018-06-05 21:19] ryukinix commented on #176
The correct command line for racket is `racket --script`. We need fix that.

[2018-06-07 05:34] #176 closed

[2018-06-09 03:42] ryukinix commented on #138
Closing this for lacking of activity. This will not be implemented.

[2018-06-09 03:42] #138 closed

[2018-06-10 11:33] A-Hilaly commented on #138
Sorry i didn't work on this as we discussed months ago. This still an amazing feature to implement!
I will work on it, once i finish my exams (first July probably :-) )

[2018-06-11 02:05] #179 closed

[2018-10-18 23:55] ryukinix commented on #157
- [x] `154  Problem002      Elixir   0.450984    False`
- [ ] `33   Problem007      Python   4.930726    False`
- [ ] `130  Problem007     Haskell   0.780792    False`
- [ ] `134  Problem012     Haskell   0.168442    False`
- [ ] `120  Problem015         Lua   0.003865    False`
- [ ] `121  Problem016         Lua   0.004010    False`
- [ ] `180  Problem034      Elixir   1.465369    False`
- [x] `1

[2018-10-18 23:57] ryukinix commented on #156
Related https://github.com/dimitri/pgloader/wiki/Running-in-Docker-(SBCL-warning)

[2018-10-19 00:58] rafaelcn commented on #157
That's delicious!

[2018-10-19 02:06] #155 closed

[2018-10-25 14:30] A-Hilaly commented on #156
Adding `seccomp: unconfined` in docker compose different builds should fix this. I'll try this ASAP

[2018-10-25 14:49] A-Hilaly opened #190 "Add OCaml support"
There are some OCaml solutions that didn't get the chance to get built here :)

- [x] Update repo docker image to support OCaml (i need your permission to do so guys)
- [x] update `./Stats.py`
- [x] Run build test for all OCaml solutions, and the new coming ones !

[2018-10-25 14:54] A-Hilaly commented on #138
Still an interesting feature to implement. I'll reopen this issue once ready to work on it !

[2018-10-25 19:58] A-Hilaly commented on #190
I just created an image taged `destructhub/project_euler:add-ocaml-support`, i'll wait until im home so i can push it fast ;-) and create a PR to test the changes !

[2018-10-26 14:09] #190 closed

[2019-01-03 05:38] ryukinix commented on #154
Closed due lack of activity (> year 1).

[2019-01-03 05:38] #154 closed